extends ../layout

block content
  .col-md-10.m-auto
    h1.text-center.mt-4 About Section Management
    p.text-center Select a section to edit section content.
    ul#btab.nav.nav-pills.mb-2(role='tablist')
      each aboutSect, i in aboutSects
        li.nav-item
          if i == 0
            a.nav-link.active(id=aboutSect.sectionType+'-tab', data-toggle='pill', href='#' +aboutSect.sectionType, role='tab', aria-controls=aboutSect.sectionType, aria-selected='true')=aboutSect.name
          else
            a.nav-link(id=aboutSect.sectionType+'-tab',data-toggle='pill', href='#' +aboutSect.sectionType, role='tab', aria-controls=aboutSect.sectionType, aria-selected='true')=aboutSect.name
    .tab-content.px-4.py-3.shadow.border
      each aboutSect, i in aboutSects
        -var notice = (aboutSect.sectionType === "notice" ?  false : true)
        if i == 0
          .tab-pane.fade.show.active(id=aboutSect.sectionType,  role='tabpanel', arialabelledby=aboutSect.sectionType+'-tab')
            form(method='POST', action='/admin/aboutsects/edit/' + aboutSect._id)
              .form-group.mb-3
                label Section Name*
                input.form-control(name='name', type='text', value=aboutSect.name)
              .form-group.mb-3
                label Section Description*
                  if notice 
                    | *
                textarea.form-control(name='desc', rows='5', required=notice)= aboutSect.desc
              a.btn.btn-secondary.mr-2(href='/admin') Back
              button.btn.btn-primary(type='submit') Update
              label.float-right.small *Required
        else
          .tab-pane.fade(id=aboutSect.sectionType, role='tabpanel', arialabelledby=aboutSect.sectionType+'-tab')
            form(method='POST', action='/admin/aboutsects/edit/' + aboutSect._id)
              .form-group.mb-3
                label Section Name*
                input.form-control(name='name', type='text', value=aboutSect.name)
              .form-group.mb-3
                label Section Description
                  if notice 
                    | *
                textarea.form-control(name='desc', rows='5', required=notice)= aboutSect.desc
              a.btn.btn-secondary.mr-2(href='/admin') Back
              button.btn.btn-primary(type='submit') Update
              small.float-right.text-muted *Required