extends layout

block content
  .container.p-4
    //- Tab Content
    .tab-content.p-4.bg-light
      .tab-pane.fade.show.active(id="mubc-tab",  role='tabpanel', arialabelledby="mubc-tab")
        h2= section.get("about-mubc").name
        p= section.get("about-mubc").desc
      .tab-pane.fade(id="banksia-tab",  role='tabpanel', arialabelledby="banksia-tab")
        h2= section.get("about-banksia").name
        p= section.get("about-banksia").desc
      .tab-pane.fade(id="culture-tab",  role='tabpanel', arialabelledby="culture-tab")
        h2 Culture
        h3= section.get("cultural").name
        p= section.get("cultural").name
        h3= section.get("environment").name
        p= section.get("environment").name
      .tab-pane.fade(id="contact-tab",  role='tabpanel', arialabelledby="contact-tab")
        h1 Contact Us
        p in progress...
    //- Nav Tabs
    ul#about-tabs.nav.nav-pills(role='tablist').p-4.d-flex.justify-content-between.bg-light
      li.nav-item
        a.nav-link.rounded-circle.active(id="mubc-nav", href="#mubc-tab", data-toggle="pill", role='tab', aria-controls="mubc-nav", aria-selected='true')
          i.fas.fa-map-marker-alt
      li.nav-item
        a.nav-link.rounded-circle(id="banksia-nav", href="#banksia-tab", data-toggle="pill", role='tab', aria-controls="banksia-nav", aria-selected='true')
          i.fas.fa-spa
      li.nav-item
        a.nav-link.rounded-circle(id="culture-nav", href="#culture-tab", data-toggle="pill", role='tab', aria-controls="culture-nav", aria-selected='true')
          i.fas.fa-globe-asia
      li.nav-item
        a.nav-link.rounded-circle(id="contact-nav", href="#contact-tab", data-toggle="pill", role='tab', aria-controls="contact-nav", aria-selected='true')
          i.fas.fa-phone